<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectoelectiva3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".QbsAppFireBaseOffline"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".date_time_picker_dialog" android:theme="@style/Theme.AppCompat.Dialog"></activity>
        <activity android:name=".FormasPago.Detalle_formapago" />
        <activity android:name=".FormasPago.Formas_pago" />
        <activity
            android:name=".principal_navigation"
            android:label="@string/title_activity_principal_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AdminMenu" />
        <activity android:name=".admin.articulosList" />
        <activity android:name=".admin.articulos" />
        <activity android:name=".admin.DetalleCategoria" />
        <activity android:name=".admin.DetalleArticulos" />
        <activity android:name=".RvProductos"></activity>
        <activity android:name=".admin.Categorias" />
        <activity android:name=".RvCategorias" />
        <activity android:name=".Login" />
        <activity android:name=".MantUsuario" />
        <activity android:name=".MantDireccion" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Fcm"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>